<%= form_with model: @plate, url:plate_path, local: true do |f| %>
<%= render 'shared/error_messages', model: f.object %>
<div class="form-wrap">
  <div class="form-header">
    <div class="form-header-text">プレート情報編集</div>
    <div class="form-header-sub-text">全ての項目の情報は必須です</div>
  </div>
  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">型</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:mold_id, Mold.all, :id, :name, {}, {class:"select-box", id:"plate-mold"}) %>
  </div>
  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">厚み</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:thickness_id, Thickness.all, :id, :name, {}, {class:"select-box", id:"plate-thickness"}) %>
  </div>
  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">硬さ</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:hardness_id, Hardness.all, :id, :name, {}, {class:"select-box", id:"plate-hardness"}) %>
  </div>
  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">色</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:plate_color_id, PlateColor.all, :id, :name, {}, {class:"select-box", id:"plate-color"}) %>
  </div>
  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">幅</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:plate_width_id, PlateWidth.all, :id, :name, {}, {class:"select-box", id:"plate-width"}) %>
  </div>
  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">長さ</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:plate_length_id, PlateLength.all, :id, :name, {}, {class:"select-box", id:"plate-length"}) %>
  </div>
  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">枚数(半角数字のみ)</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :number_of_sheets, class:"input-default", id:"plate_number_of_sheets" %>
  </div>
  <div class="form-footer">
    <div class="register-btn">
      <%= f.submit "登録する" ,class:"user-login-btn" %>
    </div>
  </div>
</div>
<% end %>


<%= render "shared/footer" %>