<%= render "shared/header" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<div class="main-menu">


  <%#以下はログイン状態じゃないと表示されない%>
  <% if user_signed_in? %>
  <div class="item-contents">
    <h2 class='service-explain'>商品の登録・倉庫への登録は
      <a><%= link_to "こちら", plates_path, class: "item-link" %></a>
    </h2>
  </div>

  <div class="warehouse-contents">
    <h2 class="service-explain">倉庫内検索は
      <a><%= link_to "こちら", "#", class: "warehouse-link" %></a>
    </h2>
  </div>

  <div class="warehouse-contents">
    <h2 class="service-explain">検索履歴は
      <a><%= link_to "こちら", "#", class: "warehouse-link" %></a>
    </h2>
  </div>
  <% end %>
</div>
<div class="table-contents">
  <div class="table-title">プレート一覧</div>
  <table>
  <tr>
    <th>型</th><th>厚み</th><th>硬さ</th><th>色</th><th>幅</th><th>長さ</th><th>枚数</th>
    <th>倉庫名</th><th>列</th><th>番地</th><th>段数</th>
    <th>登録者</th>
  </tr>
  <% @warehouse.each do |warehouse| %>
  <tr>  
    <td><%= warehouse.plate.mold.name %></td>
    <td><%= warehouse.plate.thickness.name %></td>
    <td><%= warehouse.plate.hardness.name %></td>
    <td><%= warehouse.plate.plate_color.name %></td>
    <td><%= warehouse.plate.plate_width.name %></td>
    <td><%= warehouse.plate.plate_length.name %></td>
    <td><%= warehouse.plate.number_of_sheets %></td>
    <td>第<%= warehouse.warehouse_number %>倉庫</td>
    <td><%= warehouse.warehouse_colum %>列</td>
    <td><%= warehouse.house_number %>番地</td>
    <td><%= warehouse.number_of_stage %>段目</td>
    <td><%= warehouse.user.name %></td>
  </tr>
  <% end %>
  </table>
</div>

<%= render "shared/footer" %>